@font-face {
    font-family: 'Abril';
    src: url(../tipos/AbrilFatface-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canopee';
    src: url(../tipos/Canopee\ Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorFondo: black;
    --colorClaro: white;
    --tipoCanopee: 'Canopee';
    --tipoAbril: 'Abril';
    --color1: #027857;
    --color2: #E6A3B8;
    --color3: #F6BF03;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipoAbril);
    scroll-behavior: smooth;

}

section {
    margin: 2em;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 3em;
    color: #027857;
    font-weight: bolder;

}

h2 {
    font-size: 2.5em;
    color: #027857;
    font-weight: bolder;

}

h3 {
    font-size: 2em;
    font-weight: bold;
    color: #027857;
}

p {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #027857;
}

.header {
    background-color: var(--color1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    padding: 1em;
}
.header h1 {
    font-size: 2.8em;
    font-weight: bold;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header li a {
    display: block;
    padding: 2em;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.menu>li>a>img {
    height: 1.3em;
}

.header li a:hover,
.header .menu-btn:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    float: left;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--color2);
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--color2);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 400px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* INICIO */
#inicio {
    height: 500vh;

}

#inicio>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    padding-top: 8%;
    flex: 20%;
}

.img>img {
    width: 100%;
    margin: 1em;

}

.info {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 6em 2em 1em 2em;
    text-align: center;

}

.info>h1 {
    font-size: 5em;

}

.info>h3 {
    padding-bottom: 0.5em;
}

.info>p {
    font-size: 1.2em;
    text-align: justify;
    padding-right: 3em;

}
/* BOOTSTRAP */
.card {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card h5{
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
    color: #027556;
}

.card p{
    font-size: 0.8em;
    text-align: justify;
    margin-top: 5%;
    color: #232323;
}

.card .btn-primary {
    display: flex;
    justify-content: center;
    --bs-btn-color: #fff;
    --bs-btn-bg: #027556;
    --bs-btn-border-color: #027556;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #027556;
    --bs-btn-hover-border-color: #027556;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #027556;
    --bs-btn-active-border-color: #027556;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #027556;
    --bs-btn-disabled-border-color: #027556;
}


/* TIENDA */
.productos h1{
    font-size: 8em;
    font-weight: var(--tipoCanopee);
    font-family: var(--tipoCanopee);
    color: #027556;
}
.productos p{
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em 12em 1em 12em;
    color: #232323;
}
.productos .btn-primary {
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    --bs-btn-color: #fff;
    --bs-btn-bg: #027556;
    --bs-btn-border-color: #027556;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #027556;
    --bs-btn-hover-border-color: #027556;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #027556;
    --bs-btn-active-border-color: #027556;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #027556;
    --bs-btn-disabled-border-color: #027556;
}

#tienda{
    margin-top: 10em;
}

#tienda>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    flex: auto;
}

#tienda>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tienda>div>div>div {
    display: flex;
    flex-direction: row;

}

#tienda>div>div>div>figure {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 30vw;
    margin: 1em;
}

#tienda>div>div>div>figure>img {
    height: 50vh;
}

#tienda>div>div>div>figure>figcaption {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.8em;
    color: var(--color1);
    background-color: #f6bd037c;
    position: absolute;
    opacity: 0;
    border-radius: 4em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#latas>figure>figcaption>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8em;
    
}

#barritas>figure>figcaption>div {
      
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;

}
#otros>figure>figcaption>div {
  
      
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em;

}


#tienda>div>div>div>figure>figcaption>div>p {
    position: absolute;
    font-size: 1em;
    vertical-align: middle;
    padding: 4em;
    text-align: justify;

}

#tienda>div>div>div>figure>figcaption:hover {

    opacity: 1;

}

#barritas>figure>img {
    height: 30vh ;

}
#latas>figure>img{
    padding: 2em;
}
#otros>figure>img{
    padding: 2em;
}

h4 {
    font-family: var(--tipoCanopee);
    font-size: 2em;
}

/* FOOTER */
footer>div {
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
}

footer>div>p {
    font-size: 0.8em;
    color: var(--color2);
}

/* COMPRA FORM */
#compra {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;

}

#compra > h2 {
    margin: 1em 0;
}

#compra > form {
    width: 80%;
    max-width: 2000px;
    text-align: center;
    padding-bottom: 5%;
    
}

#compra > form > label {
    display: none;
    border-radius: 0%;
    margin: 1em;
    color: #027556; 
}

#compra > form > p {
    text-align: left;
    margin: 0.5em;
}

#compra > form > input,
#compra > form > select {
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0px;
}

#compra > form > input[type=submit],
#modal2 > div > button {
    width: 10em;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
    border: #E6A3B8, 1px solid;
    font-family: 'Roboto';
    font-weight: 100;
    cursor: pointer;
}

#coste {
    font-family: 'Roboto';
    font-weight: bold;
}

#modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #E6A3B8;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal2 > div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

#modal2 > div > h2 {
    font-size: 2em;
}

#modal2 > div > p,
#modal2 > div > ul > li {
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 100;
}

#modal2 > div > h2,
#modal2 > div > p,
#modal2 > div > ul {
    margin: 1rem 0;
}

#cerrar2 {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    font-weight: 100;
    color: white;
    font-family: 'Roboto';
}

#cerrar2:hover {
    color:  #E6A3B8;
    cursor: pointer;
}

/*Contacto*/

#contacto {
    padding: 7%;
    
}

#contacto > h1{
   padding-bottom: 0%;

}

#contacto > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
}

#contacto > div:nth-child(2) > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contacto > div:nth-child(2) > div > form,
#contacto > div:nth-child(2) > div > ul {
    width: 100%;
}


/*Maquetación del formulario*/
#contacto > div:nth-child(2) > div > form > input,
#contacto > div:nth-child(2) > div > form > textarea {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 4em;
    margin: 2em 0;
    padding: 0.5rem 1rem;
    border: #027556 1px solid;
    border-radius: 60px;
}

#contacto > div:nth-child(2) > div > form > textarea {
    height: 12em;
    width: 100%;
    border-radius: 60px;
}

/*Maquetación del botón de enviar formulario.*/
#contacto > div:nth-child(2) > div > form > input[type="submit"] {
    color: #027556;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    background-color: #F7B9D2;
    border: none;
    width: 9em;
    margin: 1em auto;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 40px;
}

#contacto > div:nth-child(2) > div > form > input[type="submit"]:hover {
    color: white;
    align-items: center;
    justify-content: center;
    background-color:#027556;
    border: #ffffff 1px solid;
}

#contacto > div:nth-child(2) > div > form > label {
    display: none;
}


/*Maquetación de los iconos de las redes sociales.*/
#contacto > div:nth-child(2) > div > ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#contacto > div:nth-child(2) > div > ul > li {
    list-style: none;
}

#contacto > div:nth-child(2) > div > ul > li > a > i {
    font-size: 2em;
    color: #027556;
    transition: 0.5s;
}

#contacto > div:nth-child(2) > div > ul > li > a > i:hover {
    transform: scale(1.2, 1.2);
}

/*Maquetación del mapa de Google Maps.*/
#contacto > div:nth-child(2) > iframe {
    width: 80%;
    padding: 5%;
    min-height: 400px;
    border: 0;
    filter: grayscale(100%);
}

#contacto > div:nth-child(3) {
    margin-top: 2em;
    font-size: 0.8em;
}


/* FOOTER */

footer>div {
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer>div>p {
    color: var(--color2);
    padding: 1.5em;
}

/* RESPONSIVE */
@media (min-width: 903px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;

    }

    .header .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    #tienda>div>div>div>figure>figcaption>div>p {
        font-size: 0.8em;
    
    }
}
@media only screen and (max-width: 800px) {
    .info {
        flex: 60%;
    }

    .info>h1 {
        font-size: 2.3em;

    }

    .info>h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    h1 {
        font-size: 2.3em;

    }

    #tienda>div>div {

        flex-direction: column;

    }

    #tienda>div>div>div {

        flex-direction: column;
    }

    #tienda>div>div>div>figure {
        width: 50vw;
      
    }

    #tienda>div>div>div>figure>img {
        height: 60vh;
    }
    #tienda>div>div>div>figure>figcaption>div>p {
        font-size: 1em;
    
    }
}

/* RESPONSIVE TABLET*/
@media only screen and (max-width: 600px) {
    #tienda>div>div>div>figure>img {
        height: 45vh;
        
    }
    #tienda>div>div>div>figure {
        width: 70vw;
       
    }

    #inicio>div {

        flex-direction: column;
    }
    

    .img {
        scale: 58%;
        position: relative;
        bottom: -80px;
    }
    .header ul {
        flex-direction: column;
        
    }
    footer>div>p {
        font-size: 0.7em;
    }
}

/* RESPONSIVE MOVIL*/
@media only screen and (max-width: 450px) {

    .img>img {
        width: 0%;
        margin: 0em;
    
    }

    .info {
        display: flex;
        flex-direction: column;
        padding: 3em 0.5em 0.5em 0.5em;
    }

    .info>h1 {
        font-size: 2em;
        padding-bottom: 1em;
    }

    .info>h3 {
        font-size: 1em;
        text-align: center;

    }

    .info>p {
        font-size: 0.8em;
        text-align: justify;
        padding-right: 0em;
    
    }
    #latas>figure>figcaption>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em;
    
    }

    #barritas>figure>figcaption>div {
      
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em;

    }
    #otros>figure>figcaption>div {
    
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em;
    }
    #tienda>div>div>div>figure>figcaption>div>p {
        position: absolute;
        font-size: 0.8em;
        vertical-align: middle;
        padding: 4em;
        text-align: justify;
    
    }
    h4 {
        font-family: var(--tipoCanopee);
        font-size: 1.5em;
    }
    #compra {
        padding-top: 10%;
        padding-bottom: 50%;
    }
    #compra > h3 {
        font-size: 1.7em;
        padding-bottom: 0%;
    }
    #compra > p {
        font-size: 1.5em;
        padding-bottom: 0%;
    }

    #contacto {
        padding-top: 30%;
        
    }
    #contacto > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contacto > div:nth-child(2) > div,
    #contacto > div:nth-child(2) > iframe {
        width: 100%;
    }

    #contacto > div:nth-child(2) > div {
        margin-bottom: 1em;
    }
}